{
	"env": {
		"modern": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"node": ["7.6.0"]
						}
					}
				]
			]
		},
		"old": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"node": ["4.2.0"]
						}
					}
				]
			]
		}
	},
	"plugins": [
		"transform-object-rest-spread",
		"add-module-exports"
	]
}
